In [3]:
#importação do pacote

#Importa pacote RMariaDB se ele ainda não foi carregado
if(!"RMariaDB" %in% (.packages())){require(RMariaDB)}

Loading required package: RMariaDB

In [4]:
#Conecta ao SGBD MySQL --> Banco de dados bootcamp
con <- dbConnect(MariaDB(), user = "root", password = "database",
                 dbname = "bootcamp", host = "localhost",serverTimezone='UTC')

In [5]:
#Criar uma tabela vazia
query <- "CREATE TABLE caracteristicasgerais (
                idcaracteristicasGerais int NOT NULL AUTO_INCREMENT,
                dsccaracteristicasGerais varchar(150) NOT NULL,
                PRIMARY KEY (idcaracteristicasGerais));"


results <- dbSendQuery(con,query)
results

tables <- dbListTables(con) 
tables

ERROR: Error in result_create(conn@ptr, statement, is_statement): Table 'caracteristicasgerais' already exists [1050]

In [6]:
#Consulta os dados da tabela *caracteristicasgerais*
tabledata <- dbReadTable(con,"caracteristicasgerais")
tabledata

   idcaracteristicasGerais dsccaracteristicasGerais
1   1                      Portaria 24 Horas
2   2                      Elevador
3   4                      Salão de festas
4   5                      Área gourmet
5   6                      Água individual
6   7                      Gás canalizado
7   8                      Aquecimento solar
8   9                      Vaga coberta
9  10                      Vaga livre
10 11                      Armários na cozinha
11 12                      Closet
12 13                      Armários no quarto

In [7]:
#Para executar um comando SQL execute:
#dbSendQuery(nome-da-conexao,"comando")

# Vamos inserir uma nova linha na tabela tipounidade
# Cria o comando e salva na variável query
query <-  "INSERT INTO caracteristicasgerais (idcaracteristicasGerais,dsccaracteristicasGerais) VALUES(1,'Portaria 24 Horas');"

# Opcional.
print(query)

results <- dbSendQuery(con,query)
results

# Limpa resultados
dbClearResult(results)

[1] "INSERT INTO caracteristicasgerais (idcaracteristicasGerais,dsccaracteristicasGerais) VALUES(1,'Portaria 24 Horas');"

ERROR: Error in result_create(conn@ptr, statement, is_statement): Duplicate entry '1' for key 'caracteristicasgerais.PRIMARY' [1062]

In [8]:
id <- 2
desc <- 'Elevador'

query <-  paste("INSERT INTO caracteristicasgerais (idcaracteristicasGerais,dsccaracteristicasGerais) VALUES(",id,",'",desc,"');",sep='')

# Opcional.
#print(query)

results <- dbSendQuery(con,query)
#results

# Limpa resultados
dbClearResult(results)

id <- 3
desc <- 'Piscina'

query <-  paste("INSERT INTO caracteristicasgerais (idcaracteristicasGerais,dsccaracteristicasGerais) VALUES(",id,",'",desc,"');",sep='')

results <- dbSendQuery(con,query)

dbClearResult(results)

ERROR: Error in result_create(conn@ptr, statement, is_statement): Duplicate entry '2' for key 'caracteristicasgerais.PRIMARY' [1062]

In [9]:
#install.packages('xlsx')

#Importa pacote xlsx se ele ainda não foi carregado
#if(!"xlsx" %in% (.packages())){require(xlsx)}

datasetpath <- 'C:/Users/JoaoLott/Desktop/CURSOS/BootCamp IGTI/Modulo 3/Atividade 1'

filename <- paste(datasetpath,"/caracteristicasgerais.csv",sep='')
filename

insertdata <- read.csv(filename)
insertdata

[1] "C:/Users/JoaoLott/Desktop/CURSOS/BootCamp IGTI/Modulo 3/Atividade 1/caracteristicasgerais.csv"

   idcaracteristicasGerais dsccaracteristicasGerais
1   4                      Salão de festas
2   5                      Área gourmet
3   6                      Água individual
4   7                      Gás canalizado
5   8                      Aquecimento solar
6   9                      Vaga coberta
7  10                      Vaga livre
8  11                      Armários na cozinha
9  12                      Closet
10 13                      Armários no quarto

In [10]:
dbWriteTable(con,'caracteristicasgerais',insertdata,append = TRUE)

ERROR: Error in result_bind(res@ptr, params): Duplicate entry '4' for key 'caracteristicasgerais.PRIMARY' [1062]

In [11]:
#Consulta os dados da tabela *caracteristicasgerais*
tabledata <- dbReadTable(con,"caracteristicasgerais")
tabledata

Warning message in result_create(conn@ptr, statement, is_statement):
"Cancelling previous query"

   idcaracteristicasGerais dsccaracteristicasGerais
1   1                      Portaria 24 Horas
2   2                      Elevador
3   4                      Salão de festas
4   5                      Área gourmet
5   6                      Água individual
6   7                      Gás canalizado
7   8                      Aquecimento solar
8   9                      Vaga coberta
9  10                      Vaga livre
10 11                      Armários na cozinha
11 12                      Closet
12 13                      Armários no quarto

In [12]:
# Desconectar do banco de dados
dbDisconnect(con)